<div class="card">
  <div class="card-header">
    <h4>
      New Product
    </h4>
  </div>
  <div class="card-body">
    <form method="POST" action="">
      <div class="form-group">
        <label for="txtCatName">
          Products
        </label>
        <input
          type="text"
          class="form-control"
          id="txtCatName"
          name="proName"
          autofocus
        />
      </div>
      <div class="form-group">
        <label for="txtCatName">
          Category
        </label>
        <input
          type="text"
          class="form-control"
          id="txtCatName"
          name="proCategory"
        />
      </div>
      <div class="form-group">
        <label for="txtCatName">
          Price
        </label>
        <input
          type="number"
          class="form-control"
          id="txtCatName"
          name="proPrice"
        />
      </div>
      <div class="form-group">
        <label for="txtCatName">
          Detail
        </label>
        <input
          type="text"
          class="form-control"
          id="txtCatName"
          name="proDetail"
        />
      </div>
      <a 
        class="btn btn-success"
        href="/admin/products"
        role="button"
        title="Back to List"
      >
        <i class="fa fa-backward" aria-hidden="true"></i>
      </a>
      <button type="submit" class="btn btn-primary">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </form>
  </div>
  <div class="card-footer text-muted">
    Footer
  </div>
</div>