<div class="card">
  <div class="card-header">
    <h4>
      New Product
    </h4>
  </div>
  <div class="card-body">
    <form method="POST" action="" enctype="multipart/form-data">
      <div class="form-group">
        <label for="txtProName">
          Name
        </label>
        <input
          type="text"
          class="form-control"
          id="txtProName"
          name="name"
          autofocus
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">
          Select category
        </label>
        <select class="form-control" id="exampleFormControlSelect1" name="selectCat">
          {{#each categories}}
            <option value="{{_id}}">
              {{name}}
            </option>
          {{/each}}
        </select>
      </div>
      <div class="form-group">
        <label for="txtCatName">
          Price
        </label>
        <div class="input-group-prepend">
          <span class="input-group-text">
            $
          </span>
          <span class="input-group-text">
            0.00
          </span>
          <input
            type="number"
            class="form-control"
            id="txtCatName"
            name="price"
          />
        </div>
      </div>
      <div class="form-group">
        <div class="input-group-prepend">
          <label for="txtCatName">
          Image of product
        </label>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01" name="imgProduct"/>
          <label class="custom-file-label" for="inputGroupFile01">
            Choose file
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="txtCatName">
          Tiny Describe
        </label>
        <input
          type="text"
          class="form-control"
          id="txtCatName"
          name="tinyDes"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">
          Details
        </label>
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
          name="details"
        ></textarea>
      </div>
      <a
        class="btn btn-success"
        href="/admin/products"
        role="button"
        title="Back to List"
      >
        <i class="fa fa-backward" aria-hidden="true"></i>
      </a>
      <button type="submit" class="btn btn-primary">
        <i class="fa fa-check" aria-hidden="true"></i>
        Add
      </button>
    </form>
  </div>
  <div class="card-footer text-muted">
    Footer
  </div>
</div>